<h2>Search Results for "{{search}}"</h2>
{{#if album}}
<h3>{{album.name}} by {{album.artist}}</h3>
{{#if album.inStock}}
<p>Now in stock!</p>
{{/if}}
<a href="/album/{{album.slug}}">View Details</a>
{{else}}
<p>Sorry, no albums found.</p>
{{/if}}