{{#if updateSuccess}}
<h2>Update Successful!</h2>
{{/if}}
<h2>Album Details</h2>
<h3>{{foundItem.name}}</h3>
<p>Artist: {{foundItem.artist}}</p>
<p>Release Date: {{foundItem.release}}</p>
<p>Number of Tracks: {{foundItem.tracksNum}}</p>
{{#if foundItem.inStock}}
<p>Now in stock!</p>
{{else}}
<p>Sorry, this album isn't in stock.</p>
{{/if}}
<p><button type="button" class="btn btn-default show-form-button">Update</button></p>
<form role="form" action="/update" method="POST" class="update-form form-horizontal hide">
    <div class="form-group hide">
        <label for="addAlbumName" class="col-sm-2">Album Name</label>
        <div class="col-sm-10">
            <input type="text"
            id="addAlbumName" name="addAlbumName" class="form-control" value="{{foundItem.name}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addArtist" class="col-sm-2">Artist</label>
        <div class="col-sm-10">
            <input type="text"
            id="addArtist" name="addArtist" class="form-control" value="{{foundItem.artist}}">
        </div>
    </div>
    <div class="form-group">
        <label for="addRelease" class="col-sm-2">Release Date</label>
        <div class="col-sm-3">
            <input type="date"
            id="addRelease" name="addRelease" pattern="\d{1,2}-\d{1,2}-\d{4}" class="form-control" value="{{foundItem.release}}">
        </div>
    </div>
    <div class="form-group">
        <label for="addArtist" class="col-sm-2">Number of Tracks</label>
        <div class="col-sm-2">
            <input type="number"
            id="addTracks" name="addTracks" min="1" max="100" class="form-control" value="{{foundItem.tracksNum}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">In Stock?</label>
        <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="addInStock" value="true">&nbsp;Yes</label>
            <label class="radio-inline"><input type="radio" name="addInStock" value="false">&nbsp;No</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <p><input type="submit" class="btn btn-warning" id="update" value="Update"/></p>
        </div>
    </div>
</form>
<form role="form" action="/delete" method="POST" class="delete-form form-horizontal">
    <div class="form-group hide">
        <label for="deleteAlbumName" class="col-sm-2">Album Name</label>
        <div class="col-sm-10">
            <input type="text"
            id="deleteAlbumName" name="deleteAlbumName" class="form-control" value="{{foundItem.name}}" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <p><input type="submit" class="btn btn-danger" id="delete" value="Delete"/></p>
        </div>
    </div>
</form>
<p>